*{
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

h1{
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}

h2{
    font-size: 20px;
    color: #606060;
    font-weight: 800;
}

p{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul{
    padding-left: 20px;
    margin-left: 100px;
    border: 2px solid blue;
    max-width: 40%;
}

ul li{
    font-family: monospace;
    font-size: 18px;
    list-style: none;
    padding: 10px;
}

ul li:nth-child(4n+2){
    color: green;
}

ul li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

ul li a{
    color:orange;
    text-decoration: underline;
    font-weight: bold;
}






